<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arrays Introduction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Basic Data Types.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Conditional Statements.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>For Loop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Input and Output.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Operator Overloading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Overload Operators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Pointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Preprocessor Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Say Hello, World! With C++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Variable Sized Arrays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Virtual Functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90D27D771DC60DC700ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27D851DC60E1200ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27D901DC60E6C00ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27D9B1DC6102200ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DA61DC6150000ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DB11DC6166100ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DBC1DC6182500ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DC71DC619D200ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DD21DC61ABA00ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DDD1DC61E5000ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DE81DC6292000ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DF31DC63E3100ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D27DFE1DC65CCA00ADD756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90FB63661DCF883F0083D875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
